@model IEnumerable<Library.Models.Book>

@{
    ViewData["Title"] = "SearchBookResults";
}

<h1>Search book results</h1>

@if (ViewData["Role"] != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", item) |
                @if (ViewData["Role"] != null) {
                    <place_holder>@Html.ActionLink("Edit", "Edit", item) |</place_holder>
                    <place_holder>@Html.ActionLink("Delete", "Delete", item) |</place_holder>
                }
                @if(item.IsAvailable)
                {
                     <place_holder>@Html.ActionLink("Reserve book", "ReserveBook", item) |</place_holder>
                     <place_holder>@Html.ActionLink("Borrow book", "BorrowBook", item) |</place_holder>
                }
                @if(!item.IsAvailable && ViewData["Role"] != null)
                {
                     <place_holder>@Html.ActionLink("Returned book", "ReturnedBook", item) |</place_holder>
                }
            </td>
        </tr>
}
    </tbody>
</table>
